@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-poppins;
}

body {
  background-color: white;
}

::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f8fafc;
}

::-webkit-scrollbar-thumb {
  @apply bg-brand-200;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-brand-900;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
